<!DOCTYPE html>
<html>
    <head>
      <title>Balanced Skin Tips</title>
      <link rel="stylesheet"  type="text/css" href="/style.css">
      
      </head>
    <body>
      <p class="balanced_skin"> 
      You have balanced skin! Please see some tips below to best take care of your skin and have a healthy glow.</p>
      <p class= "tips">
        <img src:"http://www.laroche-posay.com/article/10-golden-rules-to-help-you-take-care-of-your-skin-on-an-everyday-basis/a248.aspx">
        </p>
    </body>

</html>
