<!DOCTYPE html>
<html>
    <head>
      <title>Combinational Skin Tips</title>
      <link rel="stylesheet"  type="text/css" href="/style.css">
      </head>
    <body>
      <p class="combinational_skin"> 
      You have combinational skin! Please see some tips below to best take care of your skin and have a healthy glow.</p>
      <p class= "tips">
        <img src:"https://www.stylecraze.com/articles/how-to-take-care-of-combination-skin-our-top-10-tips/#gref"/>
        </p>
    </body>
</html>
