<!DOCTYPE html>

<html>
  <head>
    <title>Dry skin care</title>
    <link rel="stylesheet"  type="text/css" href="/style.css">
  </head>
  <body>
    <p class="dry_skin">
      it seems you have dry skin.This means that your face is dehyrdated often.check out some tips below.</P>
      <p class="tips_for_dry_skin">
        <img src="http://www.bodyandbeans.com/wp-content/uploads/2017/07/23-natural-face-care-tips-for-dry-skin-thatll-make-you-glow.jpg"/>
      </p>
  </body>
</html>