<!DOCTYPE html>

 <html>
   <head>
     <title>identifying my skin type </title>
     <link rel="stylesheet"  type="text/css" href="stylesheets/style.css">
     <body>
       <h1 class="header">Find Out Your Skin Type!</h1>
       <form action="/results" method="post">

       <h2>How does you skin feel when you wake up in the morning?</h2>
       <input type="radio" name="feel" value = "A">oily<br >
       <input type="radio" name="feel" value = "B">combinational<br>
       <input type="radio" name="feel" value = "C">dry<br>
       <input type="radio" name="feel" value = "D">balance/normal<br>

      <h2>By mid-day/evening how does you skin look?</h2>
        <input type="radio" name="look" value = "E">Shiny, oily in certain spots, especially in the T-z.one<br>
        <input type="radio" name="look" value= "F">Dry and Flaky. It feels tight and dehydrated<br>
        <input type="radio" name="look" value = "G">Blotchy and Dry in some areas and shiny in t-zone<br>
        <input type="radio" name="look" value = "H">No shininess or any kind of dryness<br>

        <!--<h2>What kinds of products do you find yourself using more frequently?</h2>-->
        <!--<input type ="radio" name="products" value= "I">Exfoliators/cleansers<br>-->
        <!--<input type = "radio" name ="products" value = "J">Moisturizers/creams/oils<br>-->
        <!--<input type = "radio" name = "products" value  = "K">A combination of one or more<br>-->


        <button type ="submit" class="new"> Let's find out your skin type! </button>
        <br></br>
   <img id="face" src="https://i.ytimg.com/vi/h7xEAX1k2QI/maxresdefault.jpg">
   
   

   
     </body>
   </head>
 </html>

