body {
  text-align: center;
  background-color: #D4F5F5;
  color: #554348
}

    h1 {
    color: Black;
      font-family: tahoma;
      font-size:300%;
    }
   
    h2 { color: black;
    font-family: tahoma;
    font-size:180%;
    }
